/* Geral */
html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
}